<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <p class="navbar-item title">Learticle</p>
      </div>
      <div class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <% if logged_in? %>
              <%= link_to "Logout", auth0_logout_path, method: :delete, id: :logout_button, class: "button is-primary" %>
            <% else %>
              <%= link_to "Login", "auth/auth0", method: :post, id: :login_button, class: "button is-primary has-text-weight-bold" %>
            <% end %>
          </div>
        </div>
      </div>
    </nav>

    <%= yield %>

    <footer class="footer has-text-centered">
      Learticle by <%= link_to "at", "https://twitter.com/at_946" %>.
    </footer>
  </body>
</html>
