<section class="section">
  <div class="container">
    <%= render "tab" %>
    
    <% case params[:type] %>
    <% when "reading_later" %>
      <%= render "error_message", model: @article %>
      <%= render "add_article_form", article: @article %>
    <% when "finish_reading" %>
      <% unless Rails.env.test? %>
        <div class="iframe-wrapper">
          <iframe src=<%= "#{ENV["PIXELA_BASE_URL"]}/graphs/#{current_user.id}.html?mode=simple" %> frameborder="0" scrolling="no"></iframe>
        </div>
      <% end %>
    <% end %>

    <p class="has-text-right">
      <%= params[:type] == "finish_reading" ? "読了記事数" : "あとで読む記事数"  %>：<span class="is-size-3 has-text-primary has-text-weight-bold"><%= @user_articles.count %></span>
    </p>

    <% if @user_articles.present? %>
      <div id="article_cards" class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": ".grid-sizer", "gutter": ".gutter-sizer", "percentPosition": true, "fitWidth": true }'>
        <div class="grid-sizer"></div>
        <div class="gutter-sizer"></div>
        <% @user_articles.each do |user_article| %>
          <%= render "article_card", user_article: user_article, article: user_article.article, memo_visible: true %>
        <% end %>
      </div>
    <% end %>
  </div>
</section>

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>