<div class="card article-card">
  <%= link_to article.url, target: "_blank" do %>
    <header class="card-header">
      <p class="card-header-title"><%= article.title %></p>
    </header>
    <div class="card-image has-background-light">
      <figure class="image">
        <% if article.image_url.present? %>
          <%= image_tag article.image_url %>
        <% else %>
          <%= image_tag "no_image.png" %>
        <% end %>
      </figure>
    </div>
    <% if memo_visible and article.memo.present? %>
      <div class="card-content article-memo has-text-dark"><%= safe_join(article.memo.split("\n"), tag(:br)) %></div>
    <% end %>
  <% end %>
  <footer class="card-footer">
    <% case params[:type] %>
    <% when "reading_later" %>
      <%= link_to "読了！", edit_article_path(article), class: "finish-reading-button card-footer-item has-background-primary has-text-white has-text-weight-bold" %>
      <%= link_to "削除", delete_article_path(article), method: :delete, class: "card-footer-item has-text-danger card-delete-button", data: {confirm: "#{article.title}を削除しますか？"} %>
    <% when "finish_reading" %>
      <%= link_to "メモ編集", edit_article_path(article), class: "edit-memo-button card-footer-item" %>
    <% end %>
  </footer>
</div>
