<div class="card article-card">
  <%= link_to article.url, target: "_blank" do %>
    <div class="card-image has-background-light">
      <figure class="image">
        <% if article.image_url.present? %>
          <%= image_tag article.image_url %>
        <% else %>
          <%= image_tag "no_image.png" %>
        <% end %>
      </figure>
    </div>
    <header class="card-header is-shadowless">
      <p class="card-header-title"><%= article.title %></p>
    </header>
    <div class="card-content pt-1">
      <p class="article-registered-at has-text-grey has-text-right is-size-7">Added to <%= article.created_at.strftime("%Y.%m.%d") %></p>
    </div>
  <% end %>
  <footer class="card-footer">
    <%= link_to "Finish reading", nil, class: "card-footer-item has-background-primary has-text-white has-text-weight-bold" %>
    <%= link_to "Delete", delete_article_path(article), method: :delete, class: "card-footer-item has-text-danger card-delete-button", data: {confirm: "#{article.title}を削除しますか？"} %>
  </footer>
</div>
